@import "../../../assets/scss/fonts.scss";

.login-box-form {
  .form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .form-group {
      width: 80%;
      input {
        border: 1px solid #cccccc;
        box-sizing: border-box;
        border-radius: 8px;
        height: 46px;
      }

      .forgot-password-link {
        float: right;
        margin-top: 1rem;
        span {
          color: #3988ff;
          font-family: $roboto-regular;
          font-size: 18px;
          line-height: 21px;
          cursor: pointer;
        }
      }
    }
    .form-group:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .login-box-form {
    .form-row {
      .form-group {
        label {
          color: #ffffff;
        }
        input {
          background: #63666a;
          color: #ffffff;
        }
        input::placeholder {
          color: #9e9e9e;
        }
      }
    }
  }
}
@media (prefers-color-scheme: light) {
  .login-box-form {
    .form-row {
      .form-group {
        label {
          color: #000000;
        }
        input {
          background: #e5e5e5;
          color: #000000;
        }
        input:focus {
          background: #ffffff;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .login-box-form {
    margin-bottom: 3rem;
  }
}
