@import "../../../assets/scss/fonts.scss";

.logo-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  p {
    font-family: $roboto-regular;
    font-size: 18px;
    line-height: 21px;
    margin-top: 2rem;
    width: 250px;
    text-align: center;
  }
}

@media (prefers-color-scheme: dark) {
  p {
    color: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  p {
    color: #000000;
  }
}
