<div class="password-box-form">
    <form name="add-cargo" class="needs-validation" [formGroup]="passwordForm" (ngSubmit)="submit()">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email"
                [ngClass]="{ 'is-invalid': submitted && passwordFormElements.email.errors }">
                <div *ngIf="submitted && passwordFormElements.email.errors" class="invalid-feedback">
                    <div *ngIf="passwordFormElements.email.errors.required">Lütfen email giriniz</div>
                    <div *ngIf="passwordFormElements.email.errors.email">Lütfen geçerli bir email adresi giriniz</div>
                </div>
            </div>
            <div class="form-group col-md-12">
                <app-form-button [ButtonText]="'Şifremi Sıfırla'"></app-form-button>
            </div>
            <div class="form-group col-md-12">
                <div class="login-link">
                    <span [routerLink]="['/']" routerLinkActive="router-link-active" >veya Giriş Yapın</span>
                </div>
            </div>
        </div>
    </form>
</div>

<app-loading *ngIf="loading"></app-loading>